 html, body{
  color: black;
    max-width: 100% !important;
    overflow-x: hidden !important;
    margin: 0px;
    padding: 0px;
    
}


img{
  width: 100%;
}
a{
  display: inline-block;
 
  text-decoration: none;

}

.carousel {
  background: white;

  border-radius: 10px; 
  box-shadow: 10px 50px 25px rgba(0,0,0,0.5);

  }
  .carousel .carousel-item {
    height: 500px;
    border-radius: 5px;  

  }
    .carousel .carousel-item img {
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 10px; 
      top: 0;
      left: 0;
      border-color: black;

       }
@media (min-width: 1000px) {
    .carousel .carousel-item {
    height: 700px; }
    .carousel .carousel-item img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;

       }
}


.carousel2 {
  background: white;
  border-radius: 10px; 
box-shadow: 10px 50px 25px rgba(0,0,0,0.5);

  }
  .carousel2 .carousel-item {
    height: 300px;
    border-radius: 5px;  

  }
    .carousel2 .carousel-item img {
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 10px; 
      top: 0;
      left: 0;
      border-color: black;

       }
@media (min-width: 1000px) {
    .carousel2 .carousel-item {
    height: 500px; }
    .carousel2 .carousel-item img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;

       }
}

.texto{
  font-family: 'Lobster';
  color: red;


}

.pie{
  margin-top: 100px;
  background: #0054AE;
  margin-bottom: 0px;
  font-size: 1.2rem;
  color:black;
  position:relative;
  z-index: -1;
  text-decoration:none;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}


